/* RECETEO */
@import 'https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&family=Fauna+One&family=Lato:wght@100;300&family=Square+Peg&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fauna One', 'serif';
  font-size: 14px; }

/* IMPORT */
/* MENU */
/*.et-header .et-logo .et-menu .et-menulink .et-footer*/
.et-div-header {
  width: 100vw;
  background-color: #F3F2EE;
  position: sticky;
  top: 0;
  z-index: 1; }
  .et-div-header .et-header {
    border: black 0px solid;
    padding: 0px;
    margin: 0px;
    background-color: #F3F2EE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    /* MENU LOGO */
    /* MENU LINK */ }
    .et-div-header .et-header .et-logo {
      border: rgba(0, 0, 0, 0) 0px solid;
      padding: 0px;
      margin: 0px;
      background-color: #F3F2EE;
      text-align: center; }
      .et-div-header .et-header .et-logo .et-logo-imagen {
        border: rgba(0, 0, 0, 0) 0px solid;
        padding: 0px;
        margin: 0px;
        background-color: #F3F2EE;
        width: 7rem;
        height: 7rem; }
    .et-div-header .et-header .et-menu {
      border: black 0px solid;
      padding: 0px;
      margin: 0px;
      background-color: #F6EFE9;
      width: 70%; }
      .et-div-header .et-header .et-menu .et-menulink {
        border: black 0px solid;
        padding: 0px;
        margin: 0px;
        background-color: #F3F2EE;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap; }
        .et-div-header .et-header .et-menu .et-menulink .et-menulink-li {
          border: black 0px solid;
          padding: 1px;
          margin: 5px 15px 5px 15px;
          background-color: #F3F2EE;
          list-style: none; }
          .et-div-header .et-header .et-menu .et-menulink .et-menulink-li a {
            border: rgba(0, 0, 0, 0) 0px solid;
            padding: 0px;
            margin: 0px;
            background-color: #F3F2EE;
            text-align: center;
            font-family: 'Cinzel', serif;
            font-size: 12pt;
            font-weight: 600;
            text-decoration: none;
            color: #0b0b0b; }

.et-footer {
  border: black 0px solid;
  padding: 10px;
  margin: 0px;
  background-color: #ccd5c4;
  text-align: center; }

/* FOOTER */
.et-footer p {
  font-size: 10px;
  padding: opx;
  margin: 0px; }

/* BLOQUE 0 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/
.index-bloque0 {
  border: black 0px solid;
  padding: 0px;
  margin: 0px;
  background-image: url(../image/1-index-banner-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .index-bloque0 h1 {
    border: #F3F2EE 1px solid;
    padding: 15px;
    margin: 0px;
    text-align: center;
    font-family: 'Cinzel', 'serif';
    font-size: 4rem;
    color: #F3F2EE;
    overflow: hidden; }

/* BLOQUE 1 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/
.index-div-bloque1 {
  width: 100vw; }
  .index-div-bloque1 .index-bloque1 {
    border: black 0px solid;
    padding: 15px;
    margin: 0px;
    text-align: center;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto; }
    .index-div-bloque1 .index-bloque1 h2 {
      border: rgba(6, 6, 6, 0) 1px solid;
      padding: 1px;
      margin: 10px;
      text-align: center;
      font-family: 'Square Peg', 'cursive';
      font-size: 40pt; }
    .index-div-bloque1 .index-bloque1 .index-bloque1-p {
      border: rgba(0, 0, 0, 0) 1px solid;
      padding: 1px;
      margin: 1px 50px 20px 50px;
      text-align: center;
      font-size: 12pt; }

/* BLOQUE 2 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/
.index-div-bloque2 {
  width: 100vw; }
  .index-div-bloque2 .index-bloque2 {
    border: black 0px solid;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto; }
    .index-div-bloque2 .index-bloque2 .index-bloque2-div {
      border: black 0px solid;
      padding: 0px;
      margin: 0px;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; }
      .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article {
        border: black 0px solid;
        padding: 0px;
        margin: 15px 0px 50px 0px;
        text-align: center;
        width: 18rem;
        height: 26rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div {
          border: black 1px solid;
          padding: 0px;
          margin: 0px;
          text-align: center;
          overflow: hidden;
          height: 22rem;
          border-radius: 40px; }
        .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div-imagen {
          height: 22rem; }
        .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div2 {
          border: black 0px solid;
          padding: 0px;
          margin: 0px;
          text-align: center; }
          .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div2 h3 {
            border: black 0px solid;
            padding: 0px;
            margin: 20px 0px 5px 0px;
            font-family: 'Cinzel', serif;
            font-size: 12pt;
            font-weight: 900; }
          .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div2 p {
            border: black 0px solid;
            padding: 0px;
            margin: 0px 0px 15px 0px;
            font-family: 'Fauna One', serif;
            font-size: 10pt; }
          .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div2 button {
            border: black 1px solid;
            padding: 10px 5px;
            margin: 0px;
            text-align: center;
            width: 100%;
            background-color: #BCB2B3;
            cursor: pointer;
            border-radius: 40px; }
            .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div2 button a {
              border: black 0px solid;
              padding: 10px 5px;
              margin: 0px;
              text-align: center;
              width: 100%;
              background-color: #BCB2B3;
              color: white;
              text-decoration: none;
              font-size: 14px;
              font-family: 'Cinzel', serif;
              cursor: pointer;
              border-radius: 40px; }

/* BLOQUE 3 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/
.index-div-bloque3 {
  width: 100vw; }
  .index-div-bloque3 .index-bloque3 {
    border: black 0px solid;
    padding: 50px;
    margin: 0px;
    background-image: url("../image/1-index-banner2-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1; }
    .index-div-bloque3 .index-bloque3 h2 {
      border: rgba(6, 6, 6, 0) 1px solid;
      padding: 1px;
      margin: 1px;
      text-align: right;
      font-family: 'Fauna One', serif;
      font-size: 20pt;
      color: #F3F2EE;
      max-width: 1366px;
      margin-left: auto;
      margin-right: auto; }
    .index-div-bloque3 .index-bloque3 .index-bloque3-p {
      border: rgba(0, 0, 0, 0) 1px solid;
      padding: 1px;
      margin: 1px;
      text-align: right;
      color: #F3F2EE;
      max-width: 1366px;
      margin-left: auto;
      margin-right: auto; }

/* BLOQUE 4 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/
.index-div-bloque4 {
  width: 100vw;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }
  .index-div-bloque4 .index-bloque4 {
    border: black 0px solid;
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .index-div-bloque4 .index-bloque4 .index-bloque4-div {
      border: black 0px solid;
      padding: 0px;
      margin: 0px; }
      .index-div-bloque4 .index-bloque4 .index-bloque4-div .index-bloque4-p {
        border: black 0px solid;
        padding: 10px;
        margin: 0px;
        text-align: center; }

/* BLOQUE 5 */
.index-div-bloque5 {
  width: 100vw;
  background-color: #F6EFE9; }
  .index-div-bloque5 .index-bloque5 {
    border: black 0px solid;
    padding: 50px 0px 50px 0px;
    margin: 0px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #F6EFE9; }
    .index-div-bloque5 .index-bloque5 h4 {
      border: black 0px solid;
      padding: 10px 0px 30px 0px;
      margin: 0px;
      font-size: 20pt; }
    .index-div-bloque5 .index-bloque5 form {
      border: black 0px solid;
      margin: 0px;
      padding: 0px 20px 0px 20px;
      align-items: flex-end; }

/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
/* MEDIA QUERY*/
/* MOBILE LAST*/
/*  Ancho 829: comportamiento 1 
    Ancho 412: comportamiento 2 */
@media (max-width: 820px) {
  .et-div-header .et-header {
    flex-direction: column;
    justify-content: space-between; }
    .et-div-header .et-header .et-menu .et-menulink {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .et-div-header .et-header .et-menu .et-menulink .et-menulink-li {
        padding: 1px;
        margin: 5px 5px 5px 5px; } }

@media (max-width: 412px) {
  .et-div-header .et-header {
    flex-direction: column;
    justify-content: space-between; }
    .et-div-header .et-header .et-menu .et-menulink {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .et-div-header .et-header .et-menu .et-menulink .et-menulink-li {
        padding: 1px;
        margin: 5px 5px 5px 5px; } }

/* SECCIONES INTERNAS */
/* BLOQUE 0 BANNER*/
/*.Bloque 0: Banner Principal | pagina1-bloque0*/
.pagina1-bloque0 .pagina1-bloque0-h1, .pagina2-bloque0 .pagina1-bloque0-h1, .pagina3-bloque0 .pagina1-bloque0-h1, .pagina4-bloque0 .pagina1-bloque0-h1 {
  border: rgba(255, 255, 255, 0.936) 1px solid;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: 'Cinzel', 'serif';
  font-size: 4rem;
  color: #0b0b0b;
  overflow: hidden; }

.pagina1-bloque0 {
  border: black 0px solid;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1616486029423-aaa4789e8c9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3432&q=80); }

.pagina2-bloque0 {
  border: black 0px solid;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1545205597-3d9d02c29597?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80); }

.pagina3-bloque0 {
  border: black 0px solid;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1519451241324-20b4ea2c4220?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80); }

.pagina4-bloque0 {
  border: black 0px solid;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../image/1-index-banner-5.png); }

/* BLOQUE 1 FRASE */
/*.Bloque 1: Frase principal | pagina1-bloque1*/
.pagina1-div-bloque1 {
  width: 100vw; }
  .pagina1-div-bloque1 .pagina1-bloque1 {
    border: black 0px solid;
    padding: 15px;
    margin: 0px;
    text-align: center;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto; }
    .pagina1-div-bloque1 .pagina1-bloque1 .pagina1-bloque1 h2 {
      border: rgba(6, 6, 6, 0) 0px solid;
      padding: 1px;
      margin: 1px;
      text-align: center;
      font-family: 'Square Peg', 'cursive';
      font-size: 40pt; }
      .pagina1-div-bloque1 .pagina1-bloque1 .pagina1-bloque1 h2 .pagina1-bloque1-p {
        border: rgba(0, 0, 0, 0) 0px solid;
        padding: 1px;
        margin: 1px 50px 20px 50px;
        text-align: center;
        font-size: 12pt; }

/* BLOQUE 2 VIDEO */
/*.Bloque 2: Un video | pagina1-bloque2*/
/*.BOOSTRAP*/
.pagina1-bloque2 {
  border: black 0px solid;
  padding: 10px 20px 10px 20px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

/* BLOQUE 3 CARDS */
/*.Bloque 3: Mi tienda | pagina2-bloque3*/
/*.BOOSTRAP*/
.div-pagina2-bloque3 {
  background-color: #ede3d9; }
  .div-pagina2-bloque3 .pagina2-bloque3 {
    border: black 0px solid;
    padding: 30px 20px 30px 20px;
    margin: 10px;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }
    .div-pagina2-bloque3 .pagina2-bloque3 h2 {
      padding-top: 10px; }

/* BLOQUE 4 CARRUSEL*/
/*.Bloque 4: Mi tiendas | pagina2-bloque4*/
/*.BOOSTRAP*/
.pagina2-bloque4 {
  border: black 0px solid;
  padding: 30px 20px 30px 20px;
  margin: 10px;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .pagina2-bloque4 .cards-wrapper {
    display: flex;
    justify-content: center;
    justify-content: center; }
    .pagina2-bloque4 .cards-wrapper .card {
      margin: 0.5rem; }

/* BLOQUE 5 GALERIA */
/*.Bloque 5: Galeria | pagina2-div-grid-container */
.pagina2-div-grid-container {
  width: 100vw;
  background-color: #F6EFE9;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; }

.pagina2-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 35vh 35vh 30vh;
  grid-template-areas: "imagen1 imagen2 imagen3 imagen3" "imagen4 imagen4 imagen5 imagen6" "imagen7 imagen8 imagen8 imagen9";
  justify-content: center;
  justify-items: stretch;
  align-content: stretch;
  align-items: stretch; }
  .pagina2-grid-container img {
    width: 100%; }
  .pagina2-grid-container .imagen1 {
    grid-area: imagen1;
    background-color: #ccd5c4;
    overflow: hidden; }
  .pagina2-grid-container .imagen2 {
    grid-area: imagen2;
    background-color: #ccd5c4;
    overflow: hidden; }
  .pagina2-grid-container .imagen3 {
    grid-area: imagen3;
    background-color: #ccd5c4;
    overflow: hidden; }
  .pagina2-grid-container .imagen4 {
    grid-area: imagen4;
    background-color: #ccd5c4;
    overflow: hidden; }
  .pagina2-grid-container .imagen5 {
    grid-area: imagen5;
    background-color: #ede3d9;
    overflow: hidden; }
  .pagina2-grid-container .imagen6 {
    grid-area: imagen6;
    background-color: #727a6b;
    overflow: hidden; }
  .pagina2-grid-container .imagen7 {
    grid-area: imagen7;
    background-color: #727a6b;
    overflow: hidden; }
  .pagina2-grid-container .imagen8 {
    grid-area: imagen8;
    background-color: #1c2915;
    overflow: hidden; }
  .pagina2-grid-container .imagen9 {
    grid-area: imagen9;
    background-color: #ccd5c4;
    overflow: hidden; }

/* BLOQUE 6 FORMULARIO */
/* BLOQUE 6: Formulario */
.pagina1-div-bloque6 {
  width: 100vw;
  background-color: #F6EFE9; }
  .pagina1-div-bloque6 .pagina1-bloque6 {
    border: black 0px solid;
    padding: 20px 0px 20px 0px;
    margin: 0px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 8rem;
    background-color: #F6EFE9; }
    .pagina1-div-bloque6 .pagina1-bloque6 h2 {
      border: black 0px solid;
      padding: 10px 0px 10px 0px;
      margin: 0px;
      font-size: 20pt; }
    .pagina1-div-bloque6 .pagina1-bloque6 p {
      border: black 0px solid;
      padding: 0px 0px 20px 0px;
      margin: 0px; }

.pagina1-div-bloque7 {
  width: 100vw;
  background-color: #F6EFE9;
  /* BLOQUE BOOTSTRAP */ }
  .pagina1-div-bloque7 .container-sm {
    padding-top: 10px;
    padding-bottom: 10px; }
    .pagina1-div-bloque7 .container-sm .pagina1-div-bloque7-form {
      margin-left: 10vw; }
      .pagina1-div-bloque7 .container-sm .pagina1-div-bloque7-form .btn-primary {
        --bs-btn-bg: #af9d89;
        --bs-btn-border-color: #af9d89;
        --bs-btn-active-bg: #727a6b;
        --bs-btn-active-border-color: #727a6b; }

/* MEDIA QUERY INTERNA*/
/* MOBILE LAST*/
/* MOBILE LAST
    Ancho 829: comportamiento 1 
    Ancho 412: comportamiento 2 */
@media (max-width: 412px) {
  .pagina2-div-grid-container {
    margin-bottom: 0px; }
  .pagina2-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vh 15vh 15vh;
    grid-template-areas: "imagen1 imagen2 imagen3" "imagen4 imagen5 imagen6" "imagen7 imagen8 imagen9";
    justify-content: center;
    justify-items: stretch;
    align-content: stretch;
    align-items: stretch; }
    .pagina2-grid-container .imagen1 {
      grid-area: imagen1;
      background-color: #ccd5c4;
      overflow: hidden; }
    .pagina2-grid-container .imagen2 {
      grid-area: imagen2;
      background-color: #ccd5c4;
      overflow: hidden; }
    .pagina2-grid-container .imagen3 {
      grid-area: imagen3;
      background-color: #ccd5c4;
      overflow: hidden; }
    .pagina2-grid-container .imagen4 {
      grid-area: imagen4;
      background-color: #ccd5c4;
      overflow: hidden; }
    .pagina2-grid-container .imagen5 {
      grid-area: imagen5;
      background-color: #ede3d9;
      overflow: hidden; }
    .pagina2-grid-container .imagen6 {
      grid-area: imagen6;
      background-color: #727a6b;
      overflow: hidden; }
    .pagina2-grid-container .imagen7 {
      grid-area: imagen7;
      background-color: #727a6b;
      overflow: hidden; }
    .pagina2-grid-container .imagen8 {
      grid-area: imagen8;
      background-color: #1c2915;
      overflow: hidden; }
    .pagina2-grid-container .imagen9 {
      grid-area: imagen9;
      background-color: #ccd5c4;
      overflow: hidden; } }

/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
