/* RECETEO */
@import 'https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&family=Fauna+One&family=Lato:wght@100;300&family=Square+Peg&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fauna One', 'serif';
  font-size: 14px; }

/* IMPORT */
/* MENU */
/*.et-header .et-logo .et-menu .et-menulink .et-footer*/
.et-div-header {
  width: 100vw;
  background-color: #F3F2EE;
  position: sticky;
  top: 0;
  z-index: 1; }
  .et-div-header .et-header {
    border: black 0px solid;
    padding: 0px;
    margin: 0px;
    background-color: #F3F2EE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    /* MENU LOGO */
    /* MENU LINK */ }
    .et-div-header .et-header .et-logo {
      border: rgba(0, 0, 0, 0) 0px solid;
      padding: 0px;
      margin: 0px;
      background-color: #F3F2EE;
      text-align: center; }
      .et-div-header .et-header .et-logo .et-logo-imagen {
        border: rgba(0, 0, 0, 0) 0px solid;
        padding: 0px;
        margin: 0px;
        background-color: #F3F2EE;
        width: 7rem;
        height: 7rem; }
    .et-div-header .et-header .et-menu {
      border: black 0px solid;
      padding: 0px;
      margin: 0px;
      background-color: #F6EFE9;
      width: 70%; }
      .et-div-header .et-header .et-menu .et-menulink {
        border: black 0px solid;
        padding: 0px;
        margin: 0px;
        background-color: #F3F2EE;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap; }
        .et-div-header .et-header .et-menu .et-menulink .et-menulink-li {
          border: black 0px solid;
          padding: 1px;
          margin: 5px 15px 5px 15px;
          background-color: #F3F2EE;
          list-style: none; }
          .et-div-header .et-header .et-menu .et-menulink .et-menulink-li a {
            border: rgba(0, 0, 0, 0) 0px solid;
            padding: 0px;
            margin: 0px;
            background-color: #F3F2EE;
            text-align: center;
            font-family: 'Cinzel', serif;
            font-size: 12pt;
            font-weight: 600;
            text-decoration: none;
            color: #0b0b0b; }

/* FOOTER */
.et-footer {
  border: black 0px solid;
  padding: 10px;
  margin: 0px;
  background-color: #ccd5c4;
  text-align: center; }
  .et-footer p {
    font-size: 10px;
    padding: px;
    margin: 0px; }

/* BLOQUE 0 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/
.index-bloque0 {
  border: black 0px solid;
  padding: 0px;
  margin: 0px;
  background-image: url(../image/1-index-banner-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .index-bloque0 h1 {
    border: #F3F2EE 1px solid;
    padding: 15px;
    margin: 0px;
    text-align: center;
    font-family: 'Cinzel', 'serif';
    font-size: 4rem;
    color: #F3F2EE;
    overflow: hidden; }

/* BLOQUE 1 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/
.index-div-bloque1 {
  width: 100vw; }
  .index-div-bloque1 .index-bloque1 {
    border: black 0px solid;
    padding: 15px;
    margin: 0px;
    text-align: center;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto; }
    .index-div-bloque1 .index-bloque1 h2 {
      border: rgba(6, 6, 6, 0) 1px solid;
      padding: 1px;
      margin: 10px;
      text-align: center;
      font-family: 'Square Peg', 'cursive';
      font-size: 40pt; }
    .index-div-bloque1 .index-bloque1 .index-bloque1-p {
      border: rgba(0, 0, 0, 0) 1px solid;
      padding: 1px;
      margin: 1px 50px 20px 50px;
      text-align: center;
      font-size: 12pt; }

/* BLOQUE 2 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/
.index-div-bloque2 {
  width: 100vw; }
  .index-div-bloque2 .index-bloque2 {
    border: black 0px solid;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto; }
    .index-div-bloque2 .index-bloque2 .index-bloque2-div {
      border: black 0px solid;
      padding: 0px;
      margin: 0px;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; }
      .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article {
        border: black 0px solid;
        padding: 0px;
        margin: 15px 0px 50px 0px;
        text-align: center;
        width: 18rem;
        height: 26rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div {
          border: black 1px solid;
          padding: 0px;
          margin: 0px;
          text-align: center;
          background-image: url(../image/1-index-articulo-1.jpg);
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          height: 22rem;
          border-radius: 40px; }
        .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div2 {
          border: black 0px solid;
          padding: 0px;
          margin: 0px;
          text-align: center; }
          .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div2 h3 {
            border: black 0px solid;
            padding: 0px;
            margin: 20px 0px 5px 0px;
            font-family: 'Cinzel', serif;
            font-size: 12pt;
            font-weight: 900; }
          .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div2 p {
            border: black 0px solid;
            padding: 0px;
            margin: 0px 0px 15px 0px;
            font-family: 'Fauna One', serif;
            font-size: 10pt; }
          .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div2 button {
            border: black 1px solid;
            padding: 10px 5px;
            margin: 0px;
            text-align: center;
            width: 100%;
            background-color: #BCB2B3;
            cursor: pointer;
            border-radius: 40px; }
            .index-div-bloque2 .index-bloque2 .index-bloque2-div .index-bloque2-article .index-bloque2-article-div2 button a {
              border: black 0px solid;
              padding: 10px 5px;
              margin: 0px;
              text-align: center;
              width: 100%;
              background-color: #BCB2B3;
              color: white;
              text-decoration: none;
              font-size: 14px;
              font-family: 'Cinzel', serif;
              cursor: pointer;
              border-radius: 40px; }

/* BLOQUE 3 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/
.index-div-bloque3 {
  width: 100vw; }
  .index-div-bloque3 .index-bloque3 {
    border: black 0px solid;
    padding: 50px;
    margin: 0px;
    background-image: url("../image/1-index-banner2-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1; }
    .index-div-bloque3 .index-bloque3 h2 {
      border: rgba(6, 6, 6, 0) 1px solid;
      padding: 1px;
      margin: 1px;
      text-align: right;
      font-family: 'Fauna One', serif;
      font-size: 20pt;
      color: #F3F2EE;
      max-width: 1366px;
      margin-left: auto;
      margin-right: auto; }
    .index-div-bloque3 .index-bloque3 .index-bloque3-p {
      border: rgba(0, 0, 0, 0) 1px solid;
      padding: 1px;
      margin: 1px;
      text-align: right;
      color: #F3F2EE;
      max-width: 1366px;
      margin-left: auto;
      margin-right: auto; }

/* BLOQUE 4 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/
.index-div-bloque4 {
  width: 100vw;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }
  .index-div-bloque4 .index-bloque4 {
    border: black 0px solid;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .index-div-bloque4 .index-bloque4 .index-bloque4-div {
      border: black 0px solid;
      padding: 0px;
      margin: 0px; }
      .index-div-bloque4 .index-bloque4 .index-bloque4-div .index-bloque4-img {
        border: black 0px solid;
        padding: 30px;
        margin: 0px;
        width: 100%; }
      .index-div-bloque4 .index-bloque4 .index-bloque4-div .index-bloque4-p {
        border: black 0px solid;
        padding: 20px;
        margin: 0px; }

/* BLOQUE 5 */
.index-div-bloque5 {
  width: 100vw;
  background-color: #F6EFE9; }
  .index-div-bloque5 .index-bloque5 {
    border: black 0px solid;
    padding: 50px 0px 50px 0px;
    margin: 0px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 30rem;
    background-color: #F6EFE9; }
    .index-div-bloque5 .index-bloque5 h4 {
      border: black 0px solid;
      padding: 50px 0px 30px 0px;
      margin: 0px;
      font-size: 30pt; }
    .index-div-bloque5 .index-bloque5 p {
      border: black 0px solid;
      padding: 0px 0px 20px 0px;
      margin: 0px; }
    .index-div-bloque5 .index-bloque5 form {
      border: black 0px solid;
      padding: 0px;
      margin: 0px; }
