/* BLOQUE 2 VIDEO */
/*.Bloque 2: Un video | pagina1-bloque2*/

/*.BOOSTRAP*/
.pagina1-bloque2{
    border: black 0px solid;
    padding: 10px 20px 10px 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
