/* MEDIA QUERY INTERNA*//* MOBILE LAST*/
/* MOBILE LAST
    Ancho 829: comportamiento 1 
    Ancho 412: comportamiento 2 */
    
    @media (max-width: 412px){

        .pagina2-div-grid-container{
            margin-bottom: 0px;
        }

        .pagina2-grid-container {  
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 15vh 15vh 15vh;
            grid-template-areas:
                "imagen1 imagen2 imagen3"
                "imagen4 imagen5 imagen6"
                "imagen7 imagen8 imagen9"; 
            justify-content: center;
            justify-items: stretch;
            align-content: stretch;
            align-items: stretch;  


        .imagen1 { grid-area: imagen1; 
            background-color:  #ccd5c4;
            overflow: hidden;}
        
          .imagen2 { grid-area: imagen2; 
            background-color:  #ccd5c4;
            overflow: hidden;}
        
          .imagen3 { grid-area: imagen3; 
            background-color:  #ccd5c4; 
            overflow: hidden;}
        
          .imagen4 { grid-area: imagen4; 
            background-color:  #ccd5c4; 
            overflow: hidden;}
          
          .imagen5 { grid-area: imagen5; 
            background-color: #ede3d9;
            overflow: hidden;}
          
          .imagen6 { grid-area: imagen6; 
            background-color:  #727a6b;
            overflow: hidden;}
          
          .imagen7 { grid-area: imagen7; 
            background-color:  #727a6b;
            overflow: hidden;}
          
          .imagen8 { grid-area: imagen8; 
            background-color:  #1c2915;
            overflow: hidden;}
          
          .imagen9 { grid-area: imagen9; 
            background-color: #ccd5c4;
            overflow: hidden;}
        }
    }

    /* --------------------------------------------------------------------------------------- */
    /* --------------------------------------------------------------------------------------- */
