/* BLOQUE 3 CARDS */
/*.Bloque 3: Mi tienda | pagina2-bloque3*/

/*.BOOSTRAP*/
.div-pagina2-bloque3{
    background-color:#ede3d9;

    .pagina2-bloque3{
        border: black 0px solid;
        padding: 30px 20px 30px 20px;
        margin: 10px;
        text-align: center;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

        h2{
            padding-top: 10px;
        }
    }
}