/* FOOTER */
.et-footer{
    border: black 0px solid;
    padding: 10px;
    margin: 0px;
    background-color: #ccd5c4;
    text-align: center;

    p{
        font-size: 10px;
        padding: px;
        margin: 0px;
    }
}