/* BLOQUE 1 */
/*.index-bloque0 .index-bloque1 .index-bloque2 .index-bloque3 .index-bloque4 .index-bloque5*/

.index-div-bloque1{
    width: 100vw;

    .index-bloque1{
        border: rgb(0, 0, 0) 0px solid;
        padding: 15px;
        margin: 0px;
        text-align: center;
        max-width: 1366px;
        margin-left: auto;
        margin-right: auto;

        h2{
            border: rgba(6, 6, 6, 0) 1px solid;
            padding: 1px;
            margin: 10px;
            text-align: center;
            font-family: 'Square Peg', 'cursive';
            font-size: 40pt;
        }

        .index-bloque1-p{
            border: rgba(0, 0, 0, 0) 1px solid;
            padding: 1px;
            margin: 1px 50px 20px 50px;
            text-align: center;
            font-size: 12pt;
        }
    }
}